{% extends "base.html" %}{% load staticfiles %}

{% block content %}

<!-- Bootstrap -->
  <form class="form-signin" role="form"action="" method="post">{% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="username" class="form-control" name="username" value="" placeholder="Username" id="username" required autofocus>
    <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
    <input type="hidden" name="next" value="{{ next|escape }}"/>
  </form>

{% endblock %}