
@font-face {
  font-family: cabin;
  src: url('../fonts/Cabin-Medium.otf') format('opentype');
}

.bar {
	height: 12px;
}

.left {
	margin-top: 3px;
	font-family: cabin;
	font-size: 12px;
	text-align: center;
}

.right {
	margin-top: 3px;
	font-family: cabin;
	font-size: 12px;
	text-align: center;
}
.stats .row *, .aspects .row * {
	margin-bottom: 0px;
}

.panel-footer .btn, .team .panel .footer .btn {
	height: 18px;
	font-size: 12px;
	margin-top: 0px;
	padding-top: 0px;
}

.teamPanel {
	margin: 3%;
}

.teamPanel .heading {
	background: blue;
	margin: 100px;
}

.teamPanel .body {

}

.teamPanel .footer {

}