
@font-face {
  font-family: cabin;
  src: url('../fonts/Cabin-Medium.otf') format('opentype');
}

body {
  background: #222222; /* Old browsers */ progid:DXImageTransform.Microsoft.gradient( startColorstr='#00428b', endColorstr='#4c048f',GradientType=1 ); /* IE6-9 */

}

.modal {
  overflow: hidden;
}



.bar {
  height: 12px;
}

.statHeader {
  margin-top: 3px;
  font-family: cabin;
  font-size: 12px;
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0,.2);
}

.stats .row *, .aspects .row * {
  margin-bottom: -2px;
}

.panel-footer .btn, .teamPanel .btn {
  height: 18px;
  font-size: 12px;
  margin-top: 0px;
  padding-top: 0px;
}

.teamPanel {
  border-radius: 5px;
  margin: 2%;
}

.teamPanel .purp {
  background: #8E0CE8;
}

.teamPanel .blue {
  background: #0078FE;
}

.heading .statHeader {
  font-size: 30px;
}

.teamPanel .heading {
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  border-radius: 6px 6px 0 0;
  color: black;
  padding: 10px 20px;
}

.teamPanel .body {
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,1);
          box-shadow: inset 0 0 10px rgba(0,0,0,1);
  padding: 10px 20px;
  background-color: #DDDDDD;
  color: black;
}

.teamPanel .footer {
  padding: 10px 20px;
  border: 1px solid #DDDDDD;
  background-color: #F5F5F5;

}

.stats *, .aspects * {
    border-radius: 0px 0px 0 0;
}

.right input[type='text']{
  text-align:right;
}

.right input[type='text']:focus{
  text-align:right;
}

/**
 * Search Champ Layer
 */

 
.both {
    position: relative;
    padding: 0;
}
.both span{
    position: absolute;
    top: 10px;
}
.right .glyphicon-remove-circle {
    right: auto;
    left: 6px;
}
.left .glyphicon-remove-circle {
    left: auto;
    right: 6px;
}

.searchLayer {
  margin: 0 0;
  border-radius: 2px;
}

.searchLayer .left {
  padding-left: 0;
}

.searchLayer .right {
  padding-right: 0;
}

.searchLayer .form-group {
  margin-bottom: 0;
}

.results * {
  margin: 0 -1px;
  background: black;
}

.vs {
  margin: 0 0;
  color: white;
  font-family: cabin;
  text-shadow: 1px 1px rgba(26,26,26,1);
}

/**
 * Champ Select Navbar Layer
 */

.champNavbar {
  z-index: 200;
  background: black;
  padding: 10px;
}

.list-group {
  margin: 0px;
}

.list-group .list-group-item {
  padding: 0;
  border: 0;
  margin: 4 -2px -2px -2px;
}
