{% extends "base.html" %}{% load staticfiles %}

{% block content %} <!-- This block content is placed inside of base.html body -->
<div class="container" ng-app="LolCompApp" ng-controller="LolCompCtrl">
  <link href="{{ STATIC_URL }}lolcomp/css/styles.css" rel="stylesheet">
 
  <!-- Navbar -->
  <div ng-include="'{{ STATIC_URL }}lolcomp/partials/navbar.html'"></div>

  <!-- Layer 1 -->
  <div class="row">
    <!-- leftside team stats (6) -->
    <div class="col-xs-12 col-sm-6">
      <div class="teamPanel">
        <!-- Row 1: CC chain combo layer -->
        <div class="row heading blue">
          <h4 class="statHeader">Combo</h4>
        </div>
        <!-- Row 2: lolComp team stats layer -->
        <div class="row body">
          <div class="stats col-xs-6">
            {% verbatim %}
            <div class="row" ng-repeat="stat in lolcomp1Stats">
              <div ng-if="stat.name=='break'">
                <br />
              </div>
              <div ng-if="stat.name!='break'">
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-3"><h5 class="statHeader">{{ stat.name }}</h5></div>
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-8"><progressbar ng-class="(stat.win==1) ? 'progress-striped active' : ''" class="bar" type={{stat.type}} max="1" value="stat.value"></progressbar></div>
              </div>
            </div>
            {% endverbatim %}
            <br />
          </div>
          <div class="aspects col-xs-6">
            {% verbatim %}
            <div class="row" ng-repeat="stat in lolcomp1Aspects">
              <div ng-if="stat.name=='break'">
                <br />
              </div>
              <div ng-if="stat.name!='break'">
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-3"><h5 class="statHeader">{{ stat.name }}</h5></div>
                <div class="col-md-9 col-md-8 col-sm-7 col-xs-8"><progressbar ng-class="(stat.win==1) ? 'progress-striped active' : ''" class="bar" type={{stat.type}} max="1" value="stat.value"></progressbar></div>
              </div>
            </div>
            {% endverbatim %}
          </div>
        </div>
        <!-- Row 3: lolComp team kit tags layer -->
        <div class="row footer">

          <span class="btn btn-warning statHeader">Gap Closer</span>
          <span class="btn btn-primary statHeader">Stealth</span><em class="statHeader"> x5</em> 

        </div>
      </div>
    </div>

    <!-- rightside team stats (6) -->
    <div class="col-sm-6 hidden-xs">
      <div class="teamPanel">
        <!-- Row 1: CC chain combo layer -->
        <div class="row heading purp">
          <h4 class="statHeader">Combo</h4>
        </div>
        <!-- Row 2: lolComp team stats layer -->
        <div class="row body">
          <div class="stats col-xs-6">
            {% verbatim %}
            <div class="row" ng-repeat="stat in lolcomp1Stats">
              <div ng-if="stat.name=='break'">
                <br />
              </div>
              <div ng-if="stat.name!='break'">
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6"><h5 class="statHeader">{{ stat.name }}</h5></div>
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6"><progressbar ng-class="(stat.win==1) ? 'progress-striped active' : ''" class="bar" type={{stat.type}} max="1" value="stat.value"></progressbar></div>
              </div>
            </div>
            {% endverbatim %}
            <br />
          </div>
          <div class="aspects col-xs-6">
            {% verbatim %}
            <div class="row" ng-repeat="stat in lolcomp1Aspects">
              <div ng-if="stat.name=='break'">
                <br />
              </div>
              <div ng-if="stat.name!='break'">
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6"><h5 class="statHeader">{{ stat.name }}</h5></div>
                <div class="col-md-9 col-md-8 col-sm-7 col-xs-6"><progressbar ng-class="(stat.win==1) ? 'progress-striped active' : ''" class="bar" type={{stat.type}} max="1" value="stat.value"></progressbar></div>
              </div>
            </div>
            {% endverbatim %}
          </div>
        </div>
        <!-- Row 3: lolComp team kit tags layer -->
        <div class="row footer">

          <span class="btn btn-warning statHeader">Gap Closer</span>
          <span class="btn btn-primary statHeader">Stealth</span><em class="statHeader"> x5</em> 
          <span class="btn btn-warning statHeader">Gap Closer</span>
          <span class="btn btn-primary statHeader">Stealth</span><em class="statHeader"> x5</em> 

        </div>
      </div>
    </div>

  </div>

  <!-- Layer 2 -->
  <div class="row">
    <!-- Col 1: left champ list -->
    <div class="col-xs"
      <!-- for each champ on the leftside team -->
        <!-- Row 1: Champ unique stat layer -->
          <!-- Col A: Profile pic -->
          <!-- Col B: Name, title, ranged autos -->
          <!-- Col C: auto attack range, max skill range, move speed, cost type -->
        <!-- Row 2: Champ generated stats layer -->
          <!-- Col A: AD, AP, CC, Mobility -->
          <!-- Col B: Sustain, Waveclear, Zoning -->
          <!-- Col C: Aspects -->
            <!-- Teamfight, Skirmish, Duel -->
            <!-- Early, Mid, Late -->
            <!-- Poke, Burst, Utility -->

    <!-- Col 2: champ selector -->
      <!-- for each champion not banned -->
        <!-- profile pic -->

    <!-- Col 3: right champ list -->
      <!-- for each champ on the leftside team -->
        <!-- Row 1: Champ unique stat layer -->
          <!-- Col A: Profile pic -->
          <!-- Col B: Name, title, ranged autos -->
          <!-- Col C: auto attack range, max skill range, move speed, cost type -->
        <!-- Row 2: Champ generated stats layer -->
          <!-- Col A: AD, AP, CC, Mobility -->
          <!-- Col B: Sustain, Waveclear, Zoning -->
          <!-- Col C: Aspects -->
            <!-- Teamfight, Skirmish, Duel -->
            <!-- Early, Mid, Late -->
            <!-- Poke, Burst, Utility -->
  </div>

</div>
{% endblock %}